body {
  background-color: #edddd0;

  display: flex;
  flex-direction: column;
}

h1 {
  color: #334259;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
header {
  background-color: #a6cad4;
}

h2 {
  color: #334259;
}

nav {
  text-align: center;
  background-color: #a6cad4;
}
article {
  order: 1;
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;

  grid-auto-rows: 100px;
}

footer {
  background-color: #a6cad4;
  text-align: center;
  order: 2;
}

img {
  grid-column: 3/3;
  grid-row: 1/2;
}

.container {
  grid-column: 1/3;
  grid-row: 1/2;
}

.information {
  grid-column: 1/3;
  grid-row: 2/2;
}

.description{

  grid-column: 3/3;
  grid-row: 1/2;
}

@media screen and (max-width: 600px) {
  .container-courses {
      display: flex;
      flex-basis: 10em;
      flex-direction: column;
      min-width: 2vh;
  }
  .container-courses p {
      margin-top: 0;
  }
}