body {
  background-color:  #edddd0;
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: #334259;
}

h2 {
  color: #334259;
}

nav {
  text-align: center;

  background-color: #db5048;
}

#heading {
  font-family: "Montserrat", sans-serif;
}
