body {
  background-color: #edddd0;
  display: grid;
  grid-template-columns: 6fr 2fr;
  grid-template-rows: 3fr;
}

h1 {
  color: #334259;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
header {
  background-color: #a6cad4;
  grid-column: 1/4;
}

h2 {
  color: #334259;
  grid-column: 1/4;
}

nav {
 
  background-color: #a6cad4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  grid-column: 1/4;
}

footer {
  background-color: #a6cad4;
  text-align: center;
  grid-column: 1/4;
}

.container {
  grid-column: 1;
  grid-row: 3;
}

.image {
  grid-column: 3;
  grid-row: 3;
}

.information {
  grid-column: 1;
  grid-row: 4;
}

.class-courses{

  grid-column: 1/4;
  

  
}

.webtech{

  display: grid;
  grid: 2;
}

.class-course-p{

display: flex;
justify-content: space-evenly ;


}

@media (max-width: 600px) {
  .courses {
      display: flex;
      flex-direction: row;
      
  }

nav{
  flex-direction: column;
  align-items: center;
 
}
.class-course-p{
 justify-content: flex-end;
}

}